<div class="container">
  <h1 class="container__title">Registro nuevo usuario</h1>
  <form class="container__form" [formGroup]="fg">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="name" #name />
      @if(fg.get("name")?.hasError("required")) {
      <mat-error>Name is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input type="text" matInput formControlName="lastname" />
      @if(fg.get("lastname")?.hasError("required")) {
      <mat-error>Lastname is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input type="email" matInput formControlName="email" #email />
      <mat-icon matSuffix>email</mat-icon>
      @if(fg.get("email")?.hasError("required")) {
      <mat-error>Email is required</mat-error>
      } @if(fg.get("email")?.hasError("email")) {
      <mat-error>It must be an email</mat-error>
      } @if(fg.get("email")?.hasError("emailFree")) {
      <mat-error>Email shouldn't be free</mat-error>
      } @if(fg.get("email")?.hasError("notEmailCompany")) {
      <mat-error>Email must have a company domain</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-icon matSuffix>lock</mat-icon>
      @if(fg.get("password")?.hasError("required")) {
      <mat-error>Password is required</mat-error>
      } @if(fg.get("password")?.hasError("pattern")) {
      <mat-error>It must be to comply with a pattern</mat-error>
      }
    </mat-form-field>

    <button
      mat-flat-button
      type="button"
      (click)="register()"
      [disabled]="fg.invalid"
    >
      Registrar
    </button>
  </form>
</div>
